[
    {
        "name": "zsm",
        "issuer": "https://localhost:8003",
        "client_id": "c512596d-43e0-430a-8926-6e5a53cb9ebc",
        "scopes": ["openid"],
        "verify_ssl": false,
        "oidc_provider_public_key_path": "secrets/nl-rdo-uzipoc-oidc-provider.pub",
        "token_endpoint_auth_method": "private_key_jwt"
    },
     {
        "name": "identities",
        "issuer": "https://localhost:8003",
        "client_id": "c512596d-43e0-430a-8926-6e5a53cb9ebc",
        "scopes": ["openid", "identities"],
        "verify_ssl": false,
        "oidc_provider_public_key_path": "secrets/nl-rdo-uzipoc-oidc-provider.pub",
        "token_endpoint_auth_method": "private_key_jwt"
    }
]